body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}
.bttn {
    background-color: #694282;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.bttn:hover {
    background-color: #0056b3;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.feature-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}
